 .home {
 /* min-height: 100vh; */
 height: 100vh;
 width: 100vw;
 background: #1d1d1d;
 color: white;
 display: flex;
 flex-direction: column;
 align-items: center;
 }
 

 .home-container {
     width: 90%;
     padding: 2rem;
     display: flex;
     flex-direction: column;
     align-items: center;
 }


 .home-button {
     cursor: pointer;
     padding: 5px 15px;
     border: 0;
     border-radius: 10px;
     width: 200px;
     transition: 0.3s;
     background: hotpink;
 }

 .button:hover{
     background: #fc85c0;
 }

.home-list-link {
    color: inherit;
    text-decoration: none;
}

 .home-title {
     margin-bottom: 2.5rem;
     text-align: center;
 }

 .home-list {
     margin-bottom: 1.5rem;
 }