

.errorModalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .errorModalModal {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    background: white;

  }
  
  .errorModalHeader {
    background: #4f005f;
    padding: 1rem;
  }
  
  .errorModalHeader h2 {
    margin: 0;
    color: white;
  }
  
  
  .errorModalContent {
    padding: 1rem;
    color: black;

  }
  
  .errorModalFooter {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  @media (min-width: 768px) {
    .errorModalModal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }